<form>
    <div class="modal-header">
            <h4 class="modal-title">
                <span class="badge badge-light">Change Password</span> 
            </h4>
        </div>
        <div class="modal-body">    
            
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control"  style="font-size: 12px" name ="pass" [(ngModel)]="credential.oldPass"  placeholder="Old Password" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control"  style="font-size: 12px" name ="pass" [(ngModel)]="credential.newPass" placeholder="New Password" required>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control"  style="font-size: 12px" name ="pass" 
                        [(ngModel)]="credential.confirmNewPass"
                        (keyup)="onKey()"  
                        placeholder="Confirm New Password"  required>
                        <small style="color: red !important;" class="form-text text-muted">{{errMsg}}</small>
                </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-warning" (click) = "save()" [disabled] = "confirmStatus === false">Save
                <i class="fa fa-sace fa-lg"></i>
            </button>
            <button type="button" class="btn btn-outline-danger" (click) = "closeForm('close with button cancel')">cancel
                <i class="fa fa-times fa-lg"></i>
            </button>
        </div>
</form>

