<div class="modal-header">
        <h4 class="modal-title">
            <span class="badge badge-light" style="color:cornflowerblue"> Add/Edit </span> </h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <table class="table table-sm  table-striped">
            <tr>
                <th style="width: 30%">
                  <!-- <span class="badge badge-pill badge-danger">Add</span> -->
                  <span class="badge badge-pill badge-primary"> {{user.id}} </span>
                </th>
                <th style="width: 70%">
                    <button type="button" class="btn btn-outline-primary" style="color:green" >
                        Status <span class="badge badge-light" style="color:red">  {{statusRec}}  </span>
                        <span class="sr-only">unread messages</span>
                    </button>
                    
                  </th>
              </tr>
          <tr>
            <td>User Nama</td>
            <td>
              <input type="text" size="50%" maxlength="50" [(ngModel)]="user.userName"
              [ngClass]="{ 'is-invalid': submitted && (user.name == '' || user.name == null || user.name == undefined) }" />
              <br>
              <div *ngIf="submitted && (user.name == '' || user.name == null || user.name == undefined)">
                <div style="color: red"> *Field is required</div>
              </div>
            </td>
          </tr>

          <tr>
              <td>First Name</td>
              <td><input type="text" size="50%"  maxlength="100" [(ngModel)]="user.firstName" /></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><input type="text" size="50%"  maxlength="100" [(ngModel)]="user.lastName" /></td>
            </tr>
            <tr>
              <td >Email</td>
              <td><input type="text" size="50%"  maxlength="50" [(ngModel)]="user.email"/></td>
            </tr>
           
            <tr>
              <td>Role</td>
              <td>
                <select [(ngModel)]="user.roleId" class="form-control" style="width: 50%"
                [ngClass]="{ 'is-invalid': submitted && (user.roleId == null || user.roleId == undefined) }">
                  <option *ngFor="let role of roleList" [value]="role.id">
                    {{role.name}}
                  </option>
                </select>
                <div *ngIf="submitted && (user.roleId == null || user.roleId == undefined)">
                  <div style="color: red"> *Field is required</div>
                </div>
              </td>
            </tr>

              <tr>
                <td>
                    <div *ngIf="newResetRassword">
                      <span style="color:red; font-weight: bold">
                          {{newResetRassword}}
                      </span> 
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-warning" (click)="resetP()">Reset Password
                      <i class="fa fa-key fa-lg"></i>
                    </button>
                </td>
              </tr>
              

              <!-- <tr>
                <td></td>
                <td><input type="text" size="50%" [(ngModel)]="user.curPass" readonly/></td>
              </tr> -->
              <!-- <tr>
                <td >Type ID</td>
                <td>
                    <select class="form-control" id="tipe_id" name="tipeid" [(ngModel)]="user.idType" >
                      <option value="KTP">KTP</option>
                      <option value="SIM">SIM</option>
                      <option value="PASSPORT">PASSPORT</option>
                    </select>
                </td>
              </tr> -->
              <!-- <tr>
                <td >type</td>
                <td>
                    <input
                    id="typeahead-focus"
                    type="text"
                    class="form-control"
                    [(ngModel)]="model"
                    [ngbTypeahead]="search"
                    (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)"
                    #instance="ngbTypeahead"
                  />
                </td>
              </tr> -->
              <!-- <tr>
                  <td >No. ID</td>
                  <td><input type="text" size="50%" [(ngModel)]="user.idNumber"/></td>
                </tr>
                <tr>
                  <td >Pekerjaan</td>
                  <td><input type="text" size="50%" [(ngModel)]="user.job"/></td>
                </tr>  -->
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="validate()">Save
            <i class="fa fa-save fa-lg"></i> 
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="closeForm()">Close
            <i class="fa fa-times fa-lg"></i> 
        </button>
      </div>