<!-- 
<div class="container" style="max-width:30%">
<form class="form-signin">
  <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input  type="email" 
          id="inputEmail" class="form-control" 
          [(ngModel)]="credential.username"
          name="name"
          placeholder="Email address" required autofocus>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input  type="password" id="inputPassword" class="form-control" 
        [(ngModel)]="credential.password" name="pass"
          placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="login()" >Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>


    <ngb-alert *ngIf="showAlert" (close)="showAlert=!showAlert">invalid user or password</ngb-alert>
  
</div> -->

<!-- <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" 
  alt="Paris"
  style="width: 100%;"
  > -->
<div class="container">

    <div class="row" >
      <br> <br> <br>
<!-- id="pwd-container" -->
      <div class="col-md-8">
          
          <div class="row" style="height : 100%;">
              <div style="height : 20%;" >
              </div>
              <div style="height : 100%;padding-top: 10%; position: relative; left: 0%;top: 10%">
                  <img src="assets/images/logo_depan.png"
                  alt="Paris"
                  style="width: 150%;"
                >
                
              </div>
            </div>
      </div>
      
      <div class="col-md-4">
        <!-- <section class="account-wall"> -->
          <!-- class="login-form" -->

          <div class="row" style="height : 100%;">
            <div style="height : 100%;" >
              
            </div>
            <div style="height : 50%;">
                <form method="post" action="#" role="login"  (ngSubmit)="connectToServer()">
                  <br>
                  <br>
                  <br>

                  <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt=""> -->
                  <img class="profile-img" src="assets/images/logo-user.png" alt="">
                  
                  <input type="text" class="form-control" style="font-size: 12px" name="nama" placeholder="User name" [(ngModel)]="credential.username" required autofocus>
                  <input type="password" class="form-control"  style="font-size: 12px" name ="pass" [(ngModel)]="credential.password" placeholder="Password" required>
                  <div class="pwstrength_viewport_progress"></div>
                  <!-- <div class="g-recaptcha" data-sitekey="6LfbI6cUAAAAAJ9MP9-xBESvLXneqy84r8KAsfsy"></div> -->
                  <div *ngIf="captchaError" class="error">Recaptcha not verified.</div>
                  
                  <button class="btn btn-lg btn-primary btn-block"  type="submit" >
                    <!-- (click)="login()" -->
                      Sign in</button>
                </form>
            </div>
            
          </div>
          
          

        <!-- </section>   -->
        <ngb-alert *ngIf="showAlert" (close)="showAlert=!showAlert">{{msgAlert}}</ngb-alert>  
      </div>
        
        <!-- <div class="col-md-4">
          
        </div> -->
        
    </div>
    
   
  </div>
