<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">ROSE</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->
      <!-- <div class="container-fullwidth"> -->

      <nav class="navbar navbar-dark bg-secondary justify-content-between" style="padding:5px 5px 5px 5 px ">
            <!-- <a class="navbar-brand"> -->
                <span style="color: whitesmoke; padding-left: 25%">
                 <h3 >{{title}}</h3> 
                </span>
            <!-- </a> -->
            <form class="form-inline">
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" (click)="tes()" type="submit">Profle</button> -->
      <div class="col">
            <div ngbDropdown class="d-inline-block" placement="bottom-right">
              <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fa fa-user fa-lg"></i>   Profile</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="openChangePassword()" ><i class="fa fa-key fa-lg"></i>  Update Password </button>
                <button class="dropdown-item" (click)="logout()" ><i class="fa fa-sign-out fa-lg"></i>  Logout </button>
              </div>
            </div>
          </div> 
        </form>
    </nav>   

<!-- </div> -->


              <!-- Example single danger button -->
<!-- <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div> -->
